*{
    margin: 0;
    padding: 0;
    
}

body{
    display: flex; 
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    
    
}

table{

    height: 70%;
    width: 100%;
    border: 5px solid crimson;
    border-collapse: collapse;
    padding: 5px 10px 5px 10px;
    text-align: center;
	color: black;
	background-color: transparent;
	font-size: 2rem;
	text-transform: uppercase;
    text-decoration: none;
	letter-spacing: 0.1rem;
	transition: 0.3s ease;
    background-color: rgba(41, 50, 60, 0.664) ;
    
}


td{
    height: 50%;
    width: 25%;
    border: 5px solid crimson;
    border-collapse: collapse;
    padding: 5px 10px 5px 10px;
    text-align: center;
	color: black;
	background-color: transparent;
	font-size: 2rem;
	text-transform: uppercase;
    text-decoration: none;
	letter-spacing: 0.1rem;
	transition: 0.3s ease;
}

th{
    height: 50%;
    width: 25%;
    border: 5px solid crimson;
    border-collapse: collapse;
    padding: 5px 10px 5px 10px;
    text-align: center;
	color: black;
	background-color: transparent;
	font-size: 2rem;
	text-transform: uppercase;
    text-decoration: none;
	letter-spacing: 0.1rem;
}

.adicionar{
    text-align: center;
    height: 50%;
    width: 100%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    
}

.botao{
    display: inline-block;
	padding: 10px 30px;
	color: black;
	background-color: transparent;
	border: 2px solid crimson;
	font-size: 2rem;
	text-transform: uppercase;
    text-decoration: none;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	transition: 0.3s ease;
    transition-property: background-color, color;
}

.botao:hover{
    color: white;
	background-color: crimson;
}

.link{
    color: red;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.data{
    color: red;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.delete{
    color: red;
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.delete:hover{
    text-decoration: underline;
}

.img{
    background-color: white;
}